.searchBar_container {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.searchBar_container > input {
    flex: 1;
    padding: 15px;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 5px;
}

.searchBar_container > button {
    width: 80px;
    border: none;
    border-radius: 5px;
    background-color: rgb(37, 147, 255);
    color: #fff;
    cursor: pointer;
}